body {
    background: wheat;
}

h1 {
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-decoration: underline;
}

img {
    float: left;
}

p {
    text-indent: 5%;
}