body {
    background: wheat;
   

}

h1 {
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
}

#aboutMatt {
    text-align: center;
    border: black;
    border-style: solid;
    padding-right: 10%;
    padding-left: 10%;
    background-color: aliceblue;
    
}
#outer{
    padding-top: 30px;
}
#box{
    width: 40%;
}
#aboutHuck{
    border: greenyellow;
    border-style: dotted;
    border-width: 5px;
    padding-top: 15px;
    background-color: darkgray;
    padding-right: 75%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
#textOfHuck{
    padding-top: 5px;
}